.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* For 16:9 Aspect Ratio. Use 75% for 4:3 */
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
